@import "tailwindcss";  



/* 
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    height: 100px;
    width: 100px;
    margin-top: 5px;
    padding-left: 30px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    border-radius: 30px;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 40px;
    width: 250px;
    height: 450px;
    
}

.res-card:hover{
    border: 1px solid black;
}


.res-logo{
    height: 250px;
    width: 250px;
}
.rating{
    color: green;
}

.filter{
    display: flex;
    
}

.restImg{
    height:250px;
    width: 250px;
}

.shimmer-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.shimmer-cards{
    border-radius: 30px;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 40px;
    width: 250px;
    height: 450px;

}

.User-card{
    background-color: rgb(246, 237, 237);
    border: 3px solid black;
} */